body {
  background-color: #000000;
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #FFFFFF;
}

.game {
 text-align: center;
}

.layout {
  display:grid;
  grid-template-areas:
  'header header header header header header'
  'game game game game game game'
  'footer footer footer footer footer footer';
  gap:10px;
  align-items: center;
  justify-content: center;
}

.Header{
  grid-area:header;

}

.styleOpts{
  position:relative;
  grid-area: game;
  background-color: white;
  border:solid;
  z-index:2;
}

.GameBoard {
  position: relative;
  grid-area: game;
  width: 600px;
  height: 500px;
  justify-content: center;
  margin: 10vh;
  /* background-color: #b2e4ab; */
  border: solid 5px;
  /* border-color:white ; */
  z-index:1;
}

.goalL{
  position: absolute;
  width:10px;
  height: 200px;
  margin-left: 0;
  background-color: red;
  margin-top: 25%;
  margin-bottom:25%;
}

.goalR{
  position: absol;
  width:10px;
  height: 200px;
  margin-left: 590px;
  background-color: red;
  margin-top: 25%;
  margin-bottom:25%;
}

.PaddleL {
  position: absolute;
  width: 1%;
  height: 60px;
  margin-left: 4%;
  background-color: white;
}

/* foobar */
.PaddleR {
  position: absolute;
  width: 1%;
  height: 60px;
  margin-left: 95%;
  background-color: white;
}
.ball {
  position: relative ; 
  height: 10px ;
  width: 10px ; 
  background-color: white;
  border-radius: 50%;
  left: 0px;
}

.clicker {
  
}