body {
  background-color: #000000;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #FFFFFF;
}

.game {
 text-align: center;
}

.layout {
  display:grid;
  grid-template-areas:
  'header header header header header header'
  'left main main main main right';
  align-items: center;
  justify-content: center;
}

.Header{
  grid-area: header;

}

.GameBoard {
  position: relative;
  grid-area: main;
  width: 600px;
  height: 500px;
  justify-content: center;
  margin: 10vh;
  background-color: #b2e4ab;
  color: black;
  border: solid 5px;
  border-color:white ;
  /* border-left-color: red; */
}

.PaddleL {
  position: absolute;
  width: 1%;
  height: 60px;
  margin-left: 2%;
  background-color: white;
}


.PaddleR {
  position: absolute;
  width: 1%;
  height: 60px;
  margin-left: 98%;
  background-color: white;
}