body {
  background-color: #000000;
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #FFFFFF;
}

.game {
 text-align: center;
}

.layout {
  display:grid;
  grid-template-areas:
  'header header header header header header'
  'left main main main main right';
  align-items: center;
  justify-content: center;
}

.Header{
  grid-area: header;

}

.GameBoard {
  position: relative;
  grid-area: main;
  width: 600px;
  height: 500px;
  justify-content: center;
  margin: 10vh;
  background-color: #b2e4ab;
  border: solid 5px;
  border-color:white ;
}

.goalL{
  position: absolute;
  width:10px;
  height: 200px;
  margin-left: 0;
  background-color: red;
  margin-top: 25%;
  margin-bottom:25%;
}

.goalR{
  position: relative;
  width:10px;
  height: 200px;
  margin-left: 590px;
  background-color: red;
  margin-top: 25%;
  margin-bottom:25%;
}

.PaddleL {
  position: absolute;
  width: 1%;
  height: 60px;
  margin-left: 4%;
  background-color: white;
}


.PaddleR {
  position: absolute;
  width: 1%;
  height: 60px;
  margin-left: 95%;
  background-color: white;
}